name: Compare Expo fingerprints
on:
  pull_request:
    branches:
      - main

jobs:
  fingerprint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      matches: ${{ steps.fingerprint.outputs.matches }}
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: yarn
      - uses: wwdrew/expo-fingerprint-action@v1.0
        id: fingerprint
        with:
          project-path: ./packages/app
          fingerprint-path: ./packages/app/.expo-fingerprint.json"
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update expo fingerprint [skip actions]'
          committer_name: GitHub Actions
          committer_email: actions@github.com
          author_name: GitHub Actions
